.row{
    display: flex;
    min-height: 35px;
    justify-content: space-between;
    align-items: center;
    font-size: 1.2em;
    border-radius: 5px;
    margin-bottom: 5px;
    background-color: #4b93ca;
    border: 1px solid #4985a1;
    padding: 5px;
    .toDoContent{
        width: 70%;
        padding:8px 10px;
        background-color: #fff;
        border: 1px solid #4985a1;
        border-radius: 5px;
        textarea{
            width: 100%;
            resize:vertical;
            border: none;
            font-size: 1.1em;
            min-height:70px;
            overflow-y: hidden;
        }
    }
    .buttons{
        width: 25%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        margin: 5px;
        .btn{
            margin: 1px;
        }
    }
}