form{
    width:100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin: auto;
    
    .add-to-list{
        display: flex;
        input{
            flex-grow: 1;
            margin-right: 3px;
        }
    }
}