form{
    width:90%;
    height: 90px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin: auto;
    input{
        width: 100%;
    }
    .add-to-list{
        display: flex;
        input{
            flex-grow: 1;
            margin-right: 3px;
        }
    }
}