.container{
  width: 55%;
  min-width:400px;
  margin: auto;
  margin-top: 50px;
  border: 2px solid black;
  background-color:#cbe8ff;
  border-radius: 10px;
  box-shadow: 2px 2px 15px black;
  padding:2%;
  
}
.container input{
  height:45px;
}

.container .search-save{
  height: 120px;
  padding:10px 40px ;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
